

body, html {font-size: 18px;
            background-color: #F7F9FD;
            overflow-x: hidden;}

.heading {font-family: "Poppins";}

p {font-family: "Open Sans";}

@media screen and (max-width: 480px)

{

.bg-white {clip-path: inset(0% 0% 0% 0% round 40px);
           background-color: white;
           position: relative;
           width: 825px;
           height: 440px;
           top: 200px;
           right: 60px;
           transform: rotate(-35deg);
           z-index: 0;}

.bg-purple {clip-path: inset(0% 0% 0% 0% round 60px);
           background-image: linear-gradient(to bottom, hsl(322, 100%, 66%), hsl(265, 100%, 66%));
           position: relative;
           width: 445px;
           height: 790px;
           transform: rotate(-35deg);
           top: -600px;
           right: -320px;
           z-index: 0;
           overflow-x: hidden;}

.logo {float: left; position:
       relative;
       z-index: 1;
       width: 121px;
       margin-left: 16px;
       top: -1190px;}

.header-hright {float: right;
                position: relative;
                z-index: 1;
                color: hsl(265, 100%, 66%);
                margin-right: 16px;
                padding: 9px 25.5px;
                background-color: white;
                border-radius: 3px;
                font-weight: 400;
                margin-left: 16px;
                top: -1211px;
                font-size: 12px;}

.mockups {width: 296px; margin-bottom: 30px;}

.section-a {width: 100%;
            position: relative;
            top: -1160px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 0;}

.section-a__p {width: 83.33%;
               color: hsl(208, 11%, 55%);
               margin-top: 0;
               margin-bottom: 25px;}

.section-a__h {width: 72.22%;
               margin-top: 0;
               margin-bottom: 19px;
               font-weight: 700;}

.btn {background-color: hsl(322, 100%, 66%);
      padding: 16.5px 41px;
      box-shadow: 0 3px 3px hsl(322, 100%, 66%, 0.4);
      border-radius: 3px;
      font-weight: 400;
      color: white;
      border: none;}

.users {width: 306px; margin-bottom: 84px;}

.section-b {width: 100%;
            position: relative;
            top: -930px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 0;}

.section-b__h {margin-bottom: 31px;
               margin-top: 0;
               font-weight: 700;}

.section-b__p  {width: 80%;
               color: hsl(208, 11%, 55%);
               margin: 0 auto 25px auto;}

.p-users {margin-bottom: 97px;}

.section-b__h-prefinal {margin-top: 0; font-weight: 600;}

.section-b__h-final {margin-top: 0;}

.section-b__try {display: flex;
                 flex-flow: column nowrap;
                 justify-content: center;
                 align-items: center;
                 background-color: white;
                 width: 100%;
                 text-align: center;
                 border-radius: 5px;
                 padding-top: 26px;
                 box-shadow: 0 5px 5px hsla(251, 11%, 55%, 0.4);}

.section-b__h-final  {background-color: hsl(322, 100%, 66%);
                      padding: 16.5px 41px;
                      margin-bottom: 35px;
                      box-shadow: 3px 3px 3px hsl(322, 100%, 66%, 0.9);
                      border-radius: 3px;
                      color: white;
                      border: none;
                      font-weight: 400;
                      font-size: 7px;}

.section-b__p-pfinal {font-size: 9px;
                      padding: 0 24px;
                      margin: 0;
                      margin-bottom: 13px;
                      color: hsl(208, 11%, 55%);}

footer {color: white;
        background-color: hsl(192, 100%, 9%);
        position: absolute;
        top: 2200px;}

.wlogo {fill: white;}

.logo-bottom-wrapper {text-align: center;}

.logo-bottom {transform: scale(0.5);
              margin-top: 75px;
              margin-bottom: 87px;}

.footer-wrapper__column2, .footer-wrapper__column3 {margin-left: 32px;
                                                    margin-bottom: 75px;}

.footer-wrapper__column2__p {margin-top: 0;
                             margin-bottom: 30px;}

.footer-wrapper__column4 {display: flex;
                          flex-flow: column nowrap;
                          align-items: center;
                          width: 100%;
                          text-align: center;}

.icons {display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
        text-align: center;}

.footer-wrapper__column4__sub {text-transform: uppercase;
                               font-weight: 600;}

.footer-wrapper__column4__p,
.footer-wrapper__column4__sub-b,
.footer-wrapper__column4__email {width: 85.33%;}

.footer-wrapper__column4__email {height: 48px;
        border: none;}

.footer-wrapper__column4__sub-b  {background-color: hsl(322, 100%, 66%);
                                  padding: 16.5px 41px;
                                  margin-top: 16px;
                                  margin-bottom: 97px;
                                  box-shadow: 0 3px 3px hsl(322, 100%, 66%, 0.4);
                                  border-radius: 3px;
                                  width: 85.33%;
                                  border: none;
                                  color: white;}

.icons {color: white;
        margin-bottom: 17px;}

.fa-instagram {margin: 0 26px;}

.copy {font-size: small;
       padding-bottom: 25px;
       text-align: center;}

}

/* Desktop */

@media screen and (min-width: 1200px) and (max-width: 1920px)

{

.bg-white {clip-path: inset(0% 0% 0% 0% round 80px);
           background-color: white;
           position: relative;
           width: 1025px;
           height: 840px;
           top: 600px;
           transform: rotate(-35deg);
           z-index: 0;}

.bg-purple {clip-path: inset(0% 0% 0% 0% round 60px);
            background-image: linear-gradient(to bottom, hsl(322, 100%, 66%), hsl(265, 100%, 66%));
            position: relative;
            width: 1445px;
            height: 1790px;
            transform: rotate(-35deg);
            top: -1400px;
            z-index: 0;}

}

@media screen and (min-width: 1200px) and (max-width: 1300px)

{

.bg-white {right: -10px;}

.bg-purple {right: -820px;}

}


@media screen and (min-width: 1301px) and (max-width: 1400px)

{

.bg-white {right: -60px;}

.bg-purple {right: -870px;}

}


@media screen and (min-width: 1401px) and (max-width: 1500px)

{

.bg-white {right: -110px;}

.bg-purple {right: -920px;}

}

@media screen and (min-width: 1501px) and (max-width: 1600px)


{

.bg-white {right: -160px;}

.bg-purple {right: -970px;}

}


@media screen and (min-width: 1601px) and (max-width: 1700px)

{

.bg-white {right: -210px;}

.bg-purple {right: -1020px;}

}

@media screen and (min-width: 1701px) and (max-width: 1800px)

{

.bg-white {right: -260px;}

.bg-purple {right: -1070px;}

}

@media screen and (min-width: 1801px) and (max-width: 1920px)

{

.bg-white {right: -310px;}

.bg-purple {right: -1120px;}

}

@media screen and (min-width: 1200px) and (max-width: 1920px)

{

.logo {float: left; position:
       relative;
       z-index: 1;
       margin-left: 16px;
       top: -2570px;
       margin-left: 80px;}

.mockups {width: 800px;
          margin-bottom: 85px;}

.header-hright {float: right;
                position: relative;
                z-index: 1;
                color: #002D38;
                margin-right: 80px;
                padding: 19px 68px;
                background-color: white;
                border-radius: 3px;
                font-weight: 400;
                color: hsl(265, 100%, 66%);
                top: -2595px;
                font-size: 12px;}

.section-a {width: 100%;
            position: relative;
            top: -2360px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 0;}

.section-a__p {width: 51.94%;
               color: hsl(208, 11%, 55%);
               margin-top: 0;
               font-size: 23px;
               margin-bottom: 25px;}

.section-a__h {width: 72.22%;
               margin-top: 0;
               font-size: 36px;
               margin-bottom: 19px;
               font-weight: 700;}

.btn {background-color: hsl(322, 100%, 66%);
      padding: 22px 72px;
      font-size: 14px;
      box-shadow: 0 3px 3px hsl(322, 100%, 66%, 0.4);
      border-radius: 3px;
      font-weight: 400;
      color: white;
      border: none;}

.users {width: 570px;}

.main-wrapper {display: flex;
               flex-flow: row wrap;
               justify-content: space-around;
               align-items: center;
               margin-bottom: 294px;
               position: absolute;
               top: 1700px;}

.column-left {width: 40%;}

.column-right {width: 40%;}

.try-wrapper {display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;}

.section-b__try {display: flex;
                 flex-flow: column nowrap;
                 justify-content: center;
                 align-items: center;
                 background-color: white;
                 width: 44.8%;
                 position: absolute;
                 top: 2600px;
                 border-radius: 5px;
                 padding-top: 26px;
                 box-shadow: 0 5px 5px hsla(251, 11%, 55%, 0.2);}

.section-b__h-final  {background-color: hsl(322, 100%, 66%);
                      padding: 16.5px 41px;
                      margin-bottom: 35px;
                      box-shadow: 3px 3px 3px hsl(322, 100%, 66%, 0.9);
                      border-radius: 3px;
                      color: white;
                      border: none;
                      font-weight: 400;
                      font-size: 16px;}

.section-b__h-prefinal {margin-top: 0; font-size: 38px; font-weight: 600;}

.section-b__p-pfinal {font-size: 18px;
                      margin: 0;
                      margin-bottom: 13px;
                      color: hsl(208, 11%, 55%);}

footer {color: white;
        width: 100%;
        background-color: hsl(192, 100%, 9%);
        position: absolute;
        top: 3000px;}

.wlogo {fill: white;}

.logo-bottom {margin-top: 88px;
              margin-left: 105px;
              margin-bottom: 87px;}

.footer-wrapper__column4 {display: flex;
                          flex-flow: column nowrap;
                          align-items: center;
                          width: 100%;
                          text-align: center;}

.footer-wrapper__column4__sub {text-transform: uppercase;
                                 font-weight: 600;
                                 margin-top: 0px;
                                 align-self: flex-start;}

.footer-wrapper__column4__p,
.footer-wrapper__column4__sub-b,
.footer-wrapper__column4__email {width: 100%;}

.footer-wrapper__column4__email {height: 48px;
                                 border: none;}

.footer-wrapper__column4__sub-b  {background-color: hsl(322, 100%, 66%);
                                  padding: 16.5px 41px;
                                  margin-top: 16px;
                                  margin-bottom: 97px;
                                  box-shadow: 0 3px 3px hsl(322, 100%, 66%, 0.2);
                                  border-radius: 3px;
                                  width: 65.33%;
                                  align-self: flex-end;
                                  border: none;
                                  color: white;}


.footer-wrapper__column2__p {margin-top: 0;
                             margin-bottom: 30px;}

.icons {color: white;
        margin-bottom: 17px;}

.fa-instagram {margin: 0 26px;}

.copy {font-size: small;
       align-self: center;
       padding-bottom: 25px;
       margin-top: 37px;}

.footer-wrapper {display: flex;
                 flex-flow: row nowrap;
                 width: 100%;
                 justify-content: space-around;
                 text-align: center;}

.footer-wrapper__column1 {width: 25%;}

.footer-wrapper__column2,
.footer-wrapper__column3 {width: 20%;}

.footer-wrapper__column4 {width: 20%;}

.footer-wrapper__column1 {order: 1;}
.footer-wrapper__column2 {order: 2;}
.footer-wrapper__column3 {order: 3;}
.footer-wrapper__column4 {order: 4;}

}
